@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

:root {
    --cor-texto: #777777;
    --cor-primaria: #fff;
    --cor-secundaria: #EEEEEE;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ropa Sans', sans-serif;
}

header {
    width: 100%;
    height: 49px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    display: flex;
}

.logo {
    display: flex;
    position: absolute;
    top: 8px;
    left: 40px;
    color: var(--cor-texto);
}

.top-menu {
    position: absolute;
    top: 15px;
    right: 20px;
}

.top-menu img {
    width: 18px;
    height: 12px;
}

.sec-1 {
    display: flex;
    justify-content: center;
}

.container-1 {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container-1 img {
    display: flex;
    width: 100%;
    max-width: 100%;
}

.sec-2 {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.caixa {
    width: 90%;
    height: 400px;
    display: flex;
    justify-content: space-between;
}

.container-2 {
    height: 60%;
    background-color: var(--cor-secundaria);
}

.caixa img {
    width: 100%;
    height: auto;
}

/* @media (max-width: 1920px){

    header{
        height: 85px;
    }

    .logo {
        display: flex;
        position: absolute;
        top: 15px;
        left: 350px;
        color: var(--cor-texto);
        font-size: 25px;
    }

    .top-menu {
        position: absolute;
        top: 25px;
        right: 330px;
    }

    .top-menu img {
        width: 35px;
        height: 29px;
    }

    .container-1 img {
        display: flex;
        width: 100%;
        max-width: 60%;
    }
}

@media (max-width: 1500px){

    header{
        height: 75px;
    }

    .logo {
        display: flex;
        position: absolute;
        top: 15px;
        left: 250px;
        color: var(--cor-texto);
        font-size: 20px;
    }

    .top-menu {
        position: absolute;
        top: 25px;
        right: 240px;
    }

    .top-menu img {
        width: 32px;
        height: 26px;
    }

    .container-1 img {
        display: flex;
        width: 100%;
        max-width: 70%;
    }
}

@media (max-width: 1360px){

    header{
        height: 65px;
    }

    .logo {
        display: flex;
        position: absolute;
        top: 15px;
        left: 240px;
        color: var(--cor-texto);
        font-size: 18px;
    }

    .top-menu {
        position: absolute;
        top: 25px;
        right: 190px;
    }

    .top-menu img {
        width: 30px;
        height: 24px;
    }
}

@media (max-width: 1280px){

    header{
        height: 65px;
    }

    .logo {
        display: flex;
        position: absolute;
        top: 15px;
        left: 160px;
        color: var(--cor-texto);
        font-size: 16px;
    }

    .top-menu {
        position: absolute;
        top: 22px;
        right: 120px;
    }

    .top-menu img {
        width: 26px;
        height: 20px;
    }

    .container-1 img {
        display: flex;
        width: 100%;
        max-width: 80%;
    }
} */