* {
    margin: 0 auto;
    padding: 0;
}

body {
}

header {
    margin: 0 auto;
    width: 697px;
    height: 49px;
    box-shadow: 0px 2px 10px;
}

.texth1 {
    display: inline;
    position: relative;
    top: 6px;
    margin-left: 45px;
    font-size: 30px;
    font-weight: bold;
    color: #777777;
    padding-top: 7px;
}

.texth2 {
    display: inline-flex;
    position: relative;
    top: -5px;
    font-size: 10px;
    font-weight: bold;
    color: #777777;
}

.button {
    position: relative;
    top: 3px;
    left: 465px;
    cursor: pointer;
    border: 1px solid #777777;
    border-radius: 4px;
    width: 30px;
    height: 20px;
}

section {
    /* background-color: red; */
    width: 608px;
    height: 259px;
}

.img1 {
    margin-top: 20px;
}